@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
